* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: rgb(255, 255, 255);
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.box {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
}

.box_links a {
    color: #424242;
    padding: 15px;
    font-weight: 400;
    font-size: 12px;
}

.icons {
    width: 18px;
    height: 18px;
    margin: 11px;
    display: flex;
    gap: 20px;
}

.box_text {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 30px;
    background: #f7f7f7;
    padding: 16px 22px 16px 22px;
    border-radius: 5px;
}

.box_text>div:not(:first-child) {
    display: flex;
    font-size: 12px;
    gap: 8px;
}

.box_text>div img {
    width: 30px;
    height: 30px;
}

.box_text div h3 {
    font-size: 14px;
    font-weight: 500;
}

.box_text div a {
    color: #0066CC;
    font-size: 14px;
}

.box_text div a:hover {
    text-decoration: underline;
}



.section {
    width: 100%;
    display: flex;
}

.section_left_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.section_left {
    width: 84%;
}


.section_left h1 {
    font-size: 40px;
}

.section_left p {
    margin-top: 16px;
    font-size: 14px;
    margin-bottom: 46px;
}

.iphone_img {
    width: 900px;
    height: 500px;
    border-radius: 20px;
    background-color: rgb(232, 231, 231);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: sticky;
    top: 20%;
    margin-left: 5px;
}

.img1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.img2 {
    display: flex;
    align-items: center;
    margin-left: 150px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.back_arrow img {
    width: 50px;
    height: 50px;
    padding: 12px;
    background: #dbdbdb;
    position: absolute;
    top: 50%;
    translate: 20% -100%;
    display: block;
}

.forward_arrow img {
    width: 50px;
    height: 50px;
    padding: 12px;
    background: #dbdbdb;
    position: absolute;
    top: 50%;
    left: 100%;
    translate: -120% -100%;
    display: block;
}



.section_right_container {
    width: 30%;
    display: flex;
    justify-content: end;
}

.section_right {
    width: 85%;
    display: flex;
    flex-direction: column;

}



.section_right-block {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    margin-bottom: 114px;
}

.section_right-block button {
    width: 300px;
    height: 39px;
    border: none;
    border-radius: 19px;
    background-color: #e0e5eb63;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 12px;
}

.plus {
    width: 13px;
    height: 13px;
    font-size: 12px;
    border-radius: 50%;
    border: #424242 solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 2px;
}





.model {
    width: 100%;
    height: 108px;
    border: #86868b solid 1.2px;
    border-radius: 14px;
    margin-top: 15px;
}

.model_container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}



.model-txt {
    font-size: 24.7px;
    margin-bottom: 12.2px;
}

.model-txt b {
    color: #86868b;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-side h3 {
    font-size: 19px;
}

.left-side p {
    font-size: 12.4px;
    color: #2c2c2f;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.right-side p {
    font-size: 12.4px;
    color: #2c2c2f;
}

.help {
    width: 100%;
    height: 108px;
    border-radius: 14px;
    margin-top: 15px;
    background-color: #e0e5eb63;
    margin-bottom: 88px;
    padding: 15px;
}


.finish {
    font-size: 24.7px;
    margin-bottom: 22.2px;
}

.finish b {
    color: #86868b;
}


.color {
    font-size: 19px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.circles {
    gap: 10px;
    display: flex;
    margin-bottom: 223px;
}

#NaturalTitanium {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #BBB5A9;
    box-shadow: 5px 3px 10px -3px rgba(0, 0, 0, 0.4) inset;

    border: none;
}

#BlueTitanium {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #505766;
    box-shadow: 5px 3px 10px -3px rgba(0, 0, 0, 0.4) inset;

    border: none;
}

#WhiteTitanium {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #F4F3EE;
    box-shadow: 5px 3px 10px -3px rgba(0, 0, 0, 0.4) inset;

    border: none;
}

#BlackTitanium {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #555658;
    box-shadow: 5px 3px 10px -3px rgba(0, 0, 0, 0.4) inset;
}




.storage {
    margin-bottom: 15px;
}

.storage_container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #555658;
    border-radius: 15px;
}



.modal_1 {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    overflow-y: auto;
    z-index: 1;
    padding: 40px 0;
}
.block {
    display: block !important;
}
.modal {
    width: 90%;
    max-width: 824px;
    background-color: white;
    margin: 0 auto;
    border-radius: 24px; 
}
.modal_box {
    padding: 30px;
}

.modal_box h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 12px;
}

.modal_box p {
    color: #424242;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.modal_box a {
    color: #0066CC;
}
.modal_box a:hover {
    text-decoration: underline;
}

.modal_box h5 {
    color: #555658;
    font-weight: 100;
}

.modal_box h3 {
    text-align: center;
}
.select {
    border: 1px solid #424242;
    height: 50px;
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 30px;
}
.modalSelect {
    border: none;
    background: none;
    font-size: 18px;
}

.flex_box {
    width: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.flex_box button {
    width: 100px;
    height: 40px;
    border: none;
    background: none;
    margin: 32px 0 32px 0;
}
.flex_box button img {
    width: 100px;
    height: 40px;
    
}

.circle img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 8px;
    background-color: #dbdbdb;
}

.accordion {
    background-color: #f7f7f7;
}
.first-accordion,
.second-accordion {
    width: 80%;
    margin: 0 auto;
}


.first-accordion button {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 15px 0;

}







.boring-text {
    color: #86868b;
    text-align: start;
    font-size: 12px;

    width: 80%;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}





table span {
    color: #86868b;
    font-size: 12px;
}
table p {
    font-size: 12px;
}


.line td {
    border-bottom: 1px solid #dbdbdb;
}


.footer {
    text-align: center;
    padding: 20px;
}
.footer p {
    font-size: 12px;
    font-weight: 700;
}
.footer a {
    font-size: 12px;
    color: #0066CC;
}
.aa {
    background-color: url(./img/iphone-15_natural-titanium_1\ \(1\).jfif);
    height: 500px;
    width: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bb {
    background-color: url(./img/iphone-15_blue-titanium_1\ \(1\).jfif);
    height: 500px;
    width: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


