* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.bg-modal{
position: absolute;
top: 0px;
left: 0px;
background-color: rgb(0, 0, 0, 0.5);
width: 100%;
height: 100%;
display: none;
justify-content: center;
align-items: center;
}

.close {
    height:50px ;
    width:50px ;
    border: none;
    border-radius: 5px;
}

.dialog {
    width: fit-content;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
}


.dialog p {
    padding-top: 20px;
}
.img_styl {
    width:50px ;
    height:40px ;
    align-items: center;
}

.dialog button {
height: 40px;
width: 100px;
border-radius: 20px;
border: none;
}
a{
    text-decoration: none;
} 


.box_img0 {
    padding-top: 30px;
}


.box_box {
    width: 700px; 
    height: 65px;
    border: 1px solid rgb(125, 124, 124);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
}

.box_box p {
   font-size: 10px;
    padding-left: 20px;
    color: rgb(109, 109, 109);
}

.box_box h5 {
    padding-left: 20px;
}



.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
